*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 61);
    width: 100%;
}

.header img{
    height: 70px;
    padding: 15px;
}

.title {
    margin-left: -1080px;
    position: absolute;
    transform: translateY(150px);
    font-size: 30px;
    font-weight: bold;
}