*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 61);
    width: 100%;
}

.header img{
    height: 70px;
    padding: 15px;
}

#povecalo {
	height: 25px;
}

.header-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.header-buttons button{
    background: white;
    color: rgb(0, 0, 61);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background 0.3s, color 0.3s;
}

.header-buttons button:hover{
    background: rgba(255, 255, 255, 0.25);
    color: white;
}

.content{
    background-color: white;
    color:rgb(0, 0, 61);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: none;
    min-height: 1000px;
    width: 100vw;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input{
    background-color: white;
    color: rgb(0, 0, 61);
    width: 20vw;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}

.search-bar img{
    width: 25px;
    height: 25px;
    margin-left: -50px;
    cursor: pointer;
}

.footer{
    width: 100vw;
    height: 60px;
    background: rgb(0, 0, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


