* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background {
    height: 100vh;
    width: 100vw;
}

.background img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    object-fit: cover;
    filter: brightness(20%);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.logo img {
    width: 300px;
    padding-bottom: 35px;
}

.login-container {
    align-self: center;
    width: 200px;
    color: white;
    transform: translateY(70px);
}

.slogan {
    color: white;
    transform: translateY(-20px);
    font-weight: bold;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent 50%, rgba(255,255,255,0.3));
}

